body {
    margin: 0;
    color: #777777;
}
#page-title {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(171, 225, 253, 0.7);  /*#abe1fd; rgba(24,188,156,0.7); */
    min-height: 650px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#page-title .page-header {
  border-bottom: none;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
}
#page-title .head-img {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.page-header h1  {
  color: white;
  font-size: 400%;
}
.page-header h1 small {
  color: black;
  font-size: 50%;
}
.me {
  width: 20%;
  margin-top: 4%;
  margin-bottom: 0;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

#about {
  padding-bottom: 3%;
  padding-top: 2%;
  background-color: rgba(200, 189, 244, 0.7); /*#C8BDF4;  rgba(24,188,156,0.7); */
  position: relative;
  overflow: hidden;
}
#about .backImage {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 108%;


}

#ironing-board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
a:link {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #3B71EC;
    font-weight: bold;
}

/* a:hover {
    text-decoration: none;
    background-color: #3B71EC;
    color: #FFF;
    font-weight: bold;
} */

ul li a:link {
    text-decoration: none;
    color: #FFF;
}

ul li a:visited {
    text-decoration: none;
    color: #FFF;
}

ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    color: crimson;
}
.navbar-default {
  background-color: #313131;
  border-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: lightskyblue;
}

div #navbar {
    display: inline;
    background-color: #535353;
}

#navbar-right {
    display: inline;

}
h3 {
    margin: 7% 0 5%;
    clear: right;
    text-align: center;
    color: #313131;
    font-size: 25pt;
}
#head {
    width: 100%;
    position: absolute;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
#mainname {
    float: left;
    color: #FFF;
    padding: .5% 0 .5% 0;
    margin: 0;
}
#nav{
    float: right;
    padding: 1%;
}
#nav ul { padding: 0; margin: 0; }
#nav ul li {display: inline;}

#container {
}
p {
    padding: 0 20% 0 20%;
    line-height: 1.5pc;
}
p.post {
    padding: 0% 39%;
    line-height: 1.5pc;
}
h4 {
    text-align: center;
    color: #f4858e;
    margin-top: 1%;
}
.content-image {
  width: 60%;
  height: auto;
  margin: 0 0 10% 20%;
}
h5#section {
  text-align: right;
  padding-right: 22%;
}
#container h2 {
  text-align: center;
}

 #projects {
  padding-bottom: 10ex;
}
div#posts {
  width: 50%;
}

#posts h4 a {
  text-align: center;
  padding: 2ex;
  width: 30%;
  margin: 0 auto;
  display: block;
}
#posts ul li a {
  color: #e8e7e5;
}
#posts ul li a:hover {
  color: green;
}
#posts ul li a:visited {
  color: #e8e7e5;
}
.fa-3x {
  padding: 0 1em;
}
#social {
  text-align: center;
  background-color: rgba(173, 221, 207, 0.7);/*rgba(24,188,156,0.7);*/
  padding-top: 1%;
  position: relative;
  overflow: hidden;
  min-height: 600px;
}
#social .socialize {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#social h3 {
  margin-top: 4%;
}
#social a {
  color: white;
}
#social p {
  margin: 0;
}
a:hover .fa-twitter, .navbar-default .navbar-nav > li > a.fa-twitter:hover {
  color: #a6daef;
  background-color: none;
}
a:hover .fa-instagram, .navbar-default .navbar-nav > li > a.fa-instagram:hover {
  color: forestgreen;
  background-color: none;
}
a:hover .fa-github, .navbar-default .navbar-nav > li > a.fa-github:hover   {
  color: mediumpurple;
  background-color: none;
}
a:hover .fa-linkedin, .navbar-default .navbar-nav > li > a.fa-linkedin:hover   {
  color: navy;
  background-color: none;
}
footer {
  background-color: #313131;
  color: white;
}
.karma, .author, .hobby {
  width: 20%;
}
.aboutImages {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.aboutImages img {
  display: inline;
  padding: 2% 14%;
  width: 100%;
}
.port {
  width: 80%;
  margin: 0 auto;
}
.portfolio {
  padding: 1% 0;
  margin-right: auto;
  margin-left: auto;
}
.surf {
  display: inline;
  padding: 1.5%;
  padding-bottom: 3%;
}
.topL, .botR {
  border-radius: 2em 8em 2em 8em;
}
.topC {
  border-radius: 8em 8em 2em 2em;
}
.topR, .botL {
  border-radius: 8em 2em 8em 2em;
}
.botC {
  border-radius: 2em 2em 8em 8em;
}

.surf.port-left-top, .surf.port-right-bottom  {
  border-radius: 2em 8em 2em 8em;
}
.surf.port-left-bottom, .surf.port-right-top {
  border-radius: 8em 2em 8em 2em;
}
.surf.port-center-top {
  border-radius: 8em 8em 2em 2em;
}
.surf.port-center-bottom {
  border-radius: 2em 2em 8em 8em;
}
.caption {
  text-align: center;
}
.ironBoard {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 14pt;
}
.ironBoard li (text){
  width: 40%;
}
.ironBoard li a h3 {
  color: #313131;
  margin-bottom: 0;
 }
p.datePost {
  margin-bottom: 5%;
 }
 .socialFoot {
   width: 80%;
   margin: 0 auto;
 }
.aboutL, .aboutC, .aboutR {
  margin: 0 auto;
  padding: 0 2%;
}
@media (max-width: 1200px){
   #page-title {
     min-height: 500px;
   }
   #about .backImage {
     width: 130%;
   }
   .page-header h1 {
     font-size: 350%;
   }
}
@media (max-width: 992px){
   #about .backImage {
     height: 100%;
   }
   p {
     padding: 0;
   }
   .page-header h1 {
     font-size: 300%;
   }
}
@media (max-width: 768px){
   #page-title {
     min-height: 300px;
   }
   .page-header h1 {
     font-size: 250%;
   }
}
@media (max-width: 480px){
   #page-title {
     min-height: 300px;
   }
   .page-header h1 {
     font-size: 200%;
   }
}
