#contain{
  height: auto;
  margin: 5% auto;
  font-size: 14pt;
  border-left: 2pt solid #eee;
  padding-left: 8%;
  padding-right: 10%;
}

#aside-header {
  margin: 2% auto 0 auto;
  text-align: center;
}

.author{
  border-radius: 50%;
  height: 5em;
  width: 5em;
  margin-top: 5%;
}

.soper{
  text-align: center;
}
.tiy{
  text-align: center;
  padding-bottom: 5%;
  font-size: 16pt;
}

.post-title{
  font-size: 18pt;
  margin-bottom:20px;
  text-align: center;
}

.post-meta{
  color: #82CAFF;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 2pt solid #aaa;
}
.myposts{
  width: 80%;
  margin: 7% auto;
  font-size: 14pt;
}

.img-responsive {
  margin: 35pt auto;
}
.myposts h3 {
  margin-top: 20pt;
  margin-bottom: 25pt;
}
