
/*#author {
  background-image: url(/images/author.jpg);
  margin:5% -20%;
  float: right;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-size: contain;
}*/
}
.contain{
  width: 70%;
  height: auto;
  margin: 5% 0% 5% 20%;
  font-size: 14pt;
}
.soper{
  text-align: center;
}
.tiy{
  text-align: center;
  padding-bottom: 5%;
  margin: 0% 21% 5% 10%;
  border-bottom: 2pt solid #aaa;
  font-size: 16pt;
}
.icon-facebook{
  margin: 0% 0% 0% 46%;
}
#blog {
  font-size: 22pt;
  width: 17%;
  margin: 0 auto;
}
/*#h3repo{
  float: left;
  margin: -122% 6% 5% -18%;
}
#ulrepo{
  float: left;
  margin: -118% 5% 5% -20%;*/
}


.post-title{
  font-size: 18pt;
  margin-bottom:20px;
}

.post-meta{
  color: #82CAFF;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 2pt solid #aaa;
}
.myposts{
  width: 80%;
  margin: 7% auto;
  font-size: 14pt;
}

.img-responsive {
  margin: 35pt auto;
}
.myposts h3 {
  margin-top: 20pt;
  margin-bottom: 25pt;
}
