---
layout: default
title: ASoper Blog
---


  <body>


    <img src="/images/space.jpg" class="img-responsive" alt="Responsive image">


    <div class="contain">

        <nav id="author">
          <a href="/about/"></a>
        </nav>

        <nav id="twitter">
          <a href="#" class="fa fa-twitter"></a>
        </nav>

        <nav id="facebook">
          <a href="#" class="fa fa-facebook-square"></a>
        </nav>

        <nav id="github">
          <a href="#" class="fa fa-github"></a>
        </nav>

        <p class="TIY">
          <i>The Iron Yard Experience - Orlando Front End Engineering Edition</i>
        </p>

        <h3 id="blog">Blog Posts</h3>

        <div class="contain">
          {% for post in site.posts %}
          <article class="posts" itemscope itemtype="http://schema.org/BlogPosting" role="article">
            <div class="article-item">
              <header class="post-header">
                <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
              </header>
              <section class="post-excerpt" itemprop="description">
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              </section>
              <div class="post-meta">
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
              </div>
            <div>
          </article>
          {% endfor %}
        </div>

        <!-- <ul class="posts">
          {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul> -->


        <h3 id="repo">My Repositories</h3>

        <ul>
          <li><a href="https://github.com/asoper29/asoper29.github.io">ASoper Blog</a></li>
          <li><a href="https://github.com/asoper29/TIY-Assignments">The Iron Yard Assignments</a></li>
        </ul>

    </div>

  </body>
</html>
