body {
  background-color: #eee;
  text-align: center;
  padding-bottom: 3%;
}

ul {
  list-style: none;
  padding: 0;
}

.slide img{
  height: 400px;
  width: 400px;
  border-radius: 5%;
  margin: 5% 0 5% 0;
}

.hidden {
  display: none;
}

.buttons {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 .5ex;
  background-color: #999;
}

.buttons:hover {
  background-color: #666;
}

.current:hover {
  background-color: #47A3DA;
}

.current {
  background-color: #47A3DA;
  box-shadow: 0 0 0 2px #47A3DA;
  transition: box-shadow 0.2s ease-in-out;
}

.left {
  height: 100px;
  width: 100px;
  float: left;
  position: absolute;
  top: 30%;
  left: 5%;
}

.right {
  height: 100px;
  width: 100px;
  float: right;
  position: absolute;
  top: 30%;
  right: 5%;
}
