<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">&nbsp&nbspASoper</a>
    </div>
    <div class="navbar-inner">
      <ul class="nav navbar-nav">
        <li><a href="http://asoper29.github.io/index.html">Home</a></li>
        <li><a href="/pages/about/">About</a></li>
        <li><a href="/pages/contact/">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog Posts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">New Post!</li>
            <li><a href="/2014/09/24/day-three">Joining the dark side and an epiphany...</a></li>
            <li class="divider"></li>
            <li><a href="/2014/09/23/day-two">How many times can I remake this site?</a></li>
            <li><a href="/2014/09/22/day-one">Day one of many</a></li>
            <li><a href="/2014/09/19/pre-tiy">I'm the Juggernaut!</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>