<header id="page-title">
  <img class="img-responsive" src="images/dusk.jpg" alt="Dusk" id="head-img">
  <div class="page-header">
    <h1 class="soper">ASoper Blog</h1>
    <h2 class="tiy">
      <i>The Iron Yard Experience - Orlando Front End Engineering Edition</i>
    </h2>
  </div>
</header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid main">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">ASoper Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#posts">Posts</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="https://twitter.com/asoper29" class="fa fa-twitter fa-2x twit"></a></li>
        <li><a href="http://facebook.com/asoper29" class="fa fa-facebook fa-2x insta"></a></li>
        <li><a href="https://github.com/asoper29" class="fa fa-github fa-2x github"></a></li>
      </ul> <!-- /.navbar-right -->
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav> <!-- /.navbar-fixed-top-->
